[package]
name = "picky"
version = "5.1.1"
authors = [
    "jtrepanier-devolutions <jtrepanier@devolutions.net>",
    "Benoît CORTIER <benoit.cortier@fried-world.eu>",
    "François Dubois <fdubois@devolutions.net>",
    "Richard Markiewicz <rmarkiewicz@devolutions.net>",
]
description = "Portable X.509, Jose and PKI implementation."
keywords = ["x509", "jwt", "http", "signatures", "pki"]
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/Devolutions/picky-rs"

[dependencies]
picky-asn1 = { version = "0.2", path = "../picky-asn1" }
picky-asn1-der = { version = "0.2", path = "../picky-asn1-der" }
picky-asn1-x509 = { version = "0.1", path = "../picky-asn1-x509" }
serde = { version = "1.0", features = ["derive"] }
oid = { version = "^0.1.1", features = ["serde_support"] }
base64 = "0.12"
thiserror = "1"
chrono = { version = "0.4", optional = true }
serde_json = { version = "1.0", optional = true }
http = { version = "0.2", optional = true }

# /!\ ===== cryptography dependencies ===== /!\
# These should be updated as soon as possible.
# /!\ ===================================== /!\
sha-1 = "0.9"
sha2 = "0.9"
rsa = "0.2"
rand = "0.7"

[dev-dependencies]
num-bigint-dig = "0.6"
pretty_assertions = "^0.6"
hex = "0.4"
cfg-if = "0.1"

[features]
default = ["x509", "jose", "http_signature", "http_trait_impl"]

x509 = []
jose = ["serde_json"]
http_signature = []

http_trait_impl = ["http"]
chrono_conversion = ["chrono", "picky-asn1/chrono_conversion"]
