[package]
name = "picky"
version = "7.0.0-rc.20"
authors = [
    "Benoît CORTIER <bcortier@devolutions.net>",
    "Jonathan Trepanier <jtrepanier@devolutions.net>",
    "François Dubois <fdubois@devolutions.net>",
    "Richard Markiewicz <rmarkiewicz@devolutions.net>",
    "Ionut Mihalcea <ionut.mihalcea@arm.com>",
    "Kim Altintop <kim@monadic.xyz>",
    "Alexandr Yusuk <aleksandr.yusuk@apriorit.com>",
    "Flavio Castelli <flavio@castelli.me>",
    "Xynnn_ <xynnn@linux.alibaba.com>",
]
description = "Portable X.509, PKI, JOSE and HTTP signature implementation."
keywords = ["x509", "jwt", "signature", "jose", "pki"]
edition = "2024"
rust-version = "1.85"
license = "MIT OR Apache-2.0"
repository = "https://github.com/Devolutions/picky-rs"
include = ["src/**/*", "README.md", "CHANGELOG.md", "LICENSE-*"]

[dependencies]
picky-asn1 = { version = "0.10", path = "../picky-asn1", features = ["zeroize"] }
picky-asn1-der = { version = "0.5", path = "../picky-asn1-der" }
picky-asn1-x509 = { version = "0.15", path = "../picky-asn1-x509", features = ["legacy", "zeroize"] }
serde = { version = "1", features = ["derive"] }
base64 = "0.22"
thiserror = "2"
byteorder = { version = "1.5", optional = true }
chrono = { version = "0.4", default-features = false, features = ["clock"], optional = true }
time = { version = "0.3", optional = true }
serde_json = { version = "1", optional = true }
hex = "0.4"
http = { version = "1.1", optional = true }
cab = { version = "0.6", optional = true }
lexical-sort = { version = "0.3", optional = true }
zeroize = "1.8"

# FIXME: either use ureq, or even better: do not require this kind of dependency at all to let user decide which lib to use.
# (currently users should *really* not forget to use `spawn_blocking` when calling associated functions from async context)
reqwest = { version = "0.12", default-features = false, features = ["blocking"], optional = true }

# /!\ ===== cryptography dependencies ===== /!\
# These should be updated as soon as possible.
# /!\ ===================================== /!\

rand = "0.9"
rand_core = "0.9"
crypto-bigint = "=0.7.0-rc.10"

ed25519-dalek = { version = "=3.0.0-pre.1", features = ["hazmat", "rand_core"] }
x25519-dalek = { version = "=3.0.0-pre.1", features = ["static_secrets"] }

p256 = { version = "=0.14.0-pre.11", features = ["ecdh"] }
p384 = { version = "=0.14.0-pre.11", features = ["ecdh"] }
p521 = { version = "=0.14.0-pre.11", features = ["ecdh"] }

rsa = { version = "=0.10.0-rc.9", features = ["std"] }

digest = "=0.11.0-rc.3"
md5 = { package = "md-5", version = "=0.11.0-rc.2", features = ["oid"] }
sha1 = { version = "=0.11.0-rc.2", features = ["oid"] }
sha2 = { version = "=0.11.0-rc.2", features = ["oid"] }
sha3 = { version = "=0.11.0-rc.3", features = ["oid"] }

aes-gcm = { version = "=0.11.0-rc.1", optional = true }
aes = { version = "=0.9.0-rc.1", optional = true }
aes-kw = { version = "=0.3.0-rc.1", optional = true }
argon2 = { version = "=0.6.0-rc.1", optional = true }
ctr = { version = "=0.10.0-rc.1", optional = true }
cbc = { version = "=0.2.0-rc.1", optional = true, features = ["alloc"] }
bcrypt-pbkdf = { version = "=0.11.0-rc.1", optional = true }
des = { version = "=0.9.0-rc.1", optional = true }
rc2 = { version = "=0.9.0-pre.0", optional = true }
pbkdf2 = { version = "=0.13.0-rc.1", optional = true }
hmac = { version = "=0.13.0-rc.2", optional = true }
inout = "=0.2.0-rc.6"

# Pin transitive dependencies versions.
# TODO: Remove when stable versions will be released.
aead = { version = "=0.6.0-rc.2", optional = true }
blake2 = { version = "=0.11.0-rc.2", optional = true }
block-padding = "=0.4.2"
block-buffer = "=0.11.0"
blowfish = { version = "=0.10.0-rc.1", optional = true }
cipher = { version = "=0.5.0-rc.1", optional = true }
crypto-common = "=0.2.0-rc.4"
ghash = { version = "=0.6.0-rc.2", optional = true }
polyval = { version = "=0.7.0-rc.2", optional = true }
universal-hash = { version = "=0.6.0-rc.2", optional = true }
password-hash = { version = "=0.6.0-rc.3", optional = true }
ed25519 = "=3.0.0-rc.1"
signature = "=3.0.0-rc.4"
ecdsa = "=0.17.0-rc.7"
der = "=0.8.0-rc.9"
pem-rfc7468 = "=1.0.0"
elliptic-curve = "=0.14.0-rc.16"
hkdf = "=0.13.0-rc.2"
pkcs8 = "=0.11.0-rc.8"
spki = "=0.8.0-rc.4"
sec1 = "=0.8.0-rc.10"
rfc6979 = "=0.5.0-rc.2"
pkcs1 = "=0.8.0-rc.4"
keccak = "=0.2.0-rc.0"
primefield = "=0.14.0-pre.6"
primeorder = "=0.14.0-pre.9"
ff = { version = "=0.14.0-pre.0", default-features = false }
group = "=0.14.0-pre.0"
curve25519-dalek = "=5.0.0-pre.1"
crypto-primes = "=0.7.0-pre.4"

[dev-dependencies]
pretty_assertions = "1.4"
cfg-if = "1.0"
rand_chacha = "0.9"
ring = "0.17"
rstest = "0.26"
expect-test = "1"
tempfile = "3.22"
picky-test-data = { path = "../picky-test-data", version = "0.1" }

[features]
default = ["x509", "jose", "http_signature", "http_trait_impl", "pkcs12"]

# main features
x509 = []
jose = ["dep:serde_json", "dep:aes-gcm", "dep:cbc", "dep:aes-kw",
# Transitive dependencies
    "dep:aead", "dep:aes", "dep:cipher", "dep:ctr", "dep:ghash", "dep:polyval", "dep:universal-hash"
]
http_signature = []
pkcs12 = ["picky-asn1-x509/pkcs12", "dep:des", "dep:rc2", "dep:cbc", "dep:pbkdf2", "dep:hmac", "dep:aes", "x509",
# Transitive dependencies
    "dep:cipher"
]

# secondary features
pkcs7 = ["x509", "picky-asn1-x509/pkcs7"]
http_timestamp = ["dep:reqwest"]
ctl = ["picky-asn1-x509/ctl", "pkcs7", "chrono_conversion"]
ctl_http_fetch = ["dep:reqwest", "dep:cab", "ctl"]
wincert = ["x509", "dep:byteorder"]
ssh = ["dep:byteorder", "dep:aes", "dep:ctr", "dep:cbc", "dep:bcrypt-pbkdf", "dep:lexical-sort",
# Transitive dependencies
    "dep:cipher", "dep:blowfish", "dep:pbkdf2", "dep:hmac"
]
http_trait_impl = ["dep:http"]
chrono_conversion = ["dep:chrono", "picky-asn1/chrono_conversion"]
time_conversion = ["dep:time", "picky-asn1/time_conversion"]
putty = ["dep:argon2", "dep:hmac", "ssh",
# Transitive dependencies
    "dep:blake2", "dep:password-hash"
]

[package.metadata.docs.rs]
# Enable all features when building documentation for docs.rs
all-features = true
